* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.back-wrap {
  background-image: url("../images/bg-createGoal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

form label {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: large;
  font-weight: bold;
}

header {
  border-radius: 40px 40px 0px 0px;
  box-shadow: -5px 10px 20px 5px;
}

form {
  border-radius: 40px 40px 40px 40px;
  box-shadow: -10px 10px 18px #888888;
}

label {
  padding-left: 7px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
}

/* ol li {
  padding-top: 10px;
  padding-bottom: 10px;
} */

.main-form {
  border: 1px solid black;
  width: 700px;
  margin: auto;
  border-radius: 40px 40px 40px 40px;
  box-shadow: -10px 10px 18px #000000;
}

#logo-center {
  text-align: center;
}

.submit-button {
  padding-left: 100px;
}

.smoothScroll {
  scroll-behavior: smooth;
}

.delete-icon {
  font-size: 25px;
}

.action-plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7px;
}

.action-plan-header i {
  cursor: pointer;
}

.activity-list {
  list-style: lower-alpha;
}

.action-plan-input {
  /* width: 95%; */
  width: 89%;
}

.action-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-item .addStep {
  padding-right: 5px;
  cursor: pointer;
}

.action-plan-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-input {
  /* width: 100%; */
  width: 94%;
}

.delete-icon {
  padding-right: 5px;
  cursor: pointer;
}



/* .new-action {
  padding-bottom: 10px;
  padding-top: 10px;
} */